In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#from functools import reduce
from IPython.display import display as dsp

In [2]:
edu = pd.read_csv('data/SYB61_T07_Education.csv', encoding = "ISO-8859-1")
edu_spend = pd.read_csv('data/SYB61_T09_Public Expenditure on Education.csv', encoding = "ISO-8859-1")
labor = pd.read_csv('data/SYB61_T17_Labour Force and Unemployment.csv', encoding = "ISO-8859-1")
pop = pd.read_csv('data/SYB61_T02_Population, Surface Area and Density.csv', encoding = "ISO-8859-1")
#Source: http://data.un.org/

#IMPORT FILES:
#Education Enrollment areas.
edu.rename(index = str, columns = {'T07': 'Region Code', 
                                   'Enrolment in primary, secondary and tertiary education levels' : 'Region',
                                   'Unnamed: 2': 'Year','Unnamed: 3' : 'Series','Unnamed: 4': 'Value',
                                   'Unnamed: 5': 'Footnotes', 'Unnamed: 6': 'Source'}, inplace = True)
edu.drop(edu.index[0], inplace = True)
edu.index = range(len(edu))
dsp(edu.head())

#Education Expenditure
edu_spend.rename(index = str, columns = {'T09': 'Region Code', 'Public expenditure on education': 'Region',
                                        'Unnamed: 2':'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value',
                                        'Unnamed: 5':'Footnotes', 'Unnamed: 6' : 'Source'}, inplace = True)
edu_spend.drop(edu_spend.index[0], inplace = True)
edu_spend.index = range(len(edu_spend))
dsp(edu_spend.head())

#Labor Force
labor.rename(index = str, columns = {'T17':'Region Code','Labour force participation and unemployment': 'Region',
                                    'Unnamed: 2': 'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value','Unnamed: 5':'Footnotes',
                                    'Unnamed: 6': 'Source'}, inplace = True)
labor.drop(labor.index[0], inplace = True)
labor.index = range(len(labor))
#dsp(labor.head(1))

#Population
pop.rename(index = str, columns = {'T02':'Region Code','Population, density and surface area': 'Region',
                                    'Unnamed: 2': 'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value','Unnamed: 5':'Footnotes',
                                    'Unnamed: 6': 'Source'}, inplace = True)
pop.drop(pop.index[0], inplace = True)
pop.index = range(len(pop))
#dsp(pop.head(1))

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"678,990",NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Gross enrollement ratio - Primary (male),104.8,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.8,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,100",NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.7,NaN,"United Nations Educational, Scientific and Cul..."

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3,NaN,"United Nations Educational, Scientific and Cul..."
1,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.4,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Expenditure by level of education: primary (as...,62.1,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2010,Expenditure by level of education: secondary (...,26.7,NaN,"United Nations Educational, Scientific and Cul..."

In [22]:
#Stitch measurements into one dataframe and take a few sample countries
dfs = [edu, edu_spend, labor, pop]
#randCodes = ['404', '108', '340', '500', '516', '694', '320', '548', '834', '462']
df = pd.concat(dfs)
df = df.drop(['Footnotes','Source'], axis = 1)
dsp(df.head())

#print('Measures Represented:\n', df['Series'].unique())
#print('Years Represented:\n', df['Year'].unique())

#print(df['Year'].value_counts())

Select_Ser = ['Gross enrollment ratio - Tertiary (male)', 'Gross enrollment ratio - Tertiary (female)', 
              'Labour force participation - Male', 'Unemployment rate - Male',
              'Labour force participation - Female', 'Unemployment rate - Female',
              'Expenditure by level of education: tertiary (as % of government expenditure)',
              'Population mid-year estimates for males (millions)',
              'Population mid-year estimates for females (millions)',
              'All staff compensation as % of total expenditure in public institutions (%)',
              'Capital expenditure as % of total expenditure in public institutions (%)',
              'All staff compensation as % of total expenditure in public institutions (%)']

feat = pd.DataFrame()

###TRANSFORM###
print(df.loc[(df['Series'] == 'Labour force participation - Male') & (df['Region Code'] == '1')]['Value'])

#print('total length):\n', len(df['Year'].unique()) * len(df['Series'].unique()) * len(df['Region Code'].unique()))
feat = pd.DataFrame(df['Region Code'].unique())

for code in df['Region Code']:
    for year in df.loc[df['Region Code'] == code]['Year']:
        for series in Select_Ser:
            #pd.merge(feat, pd.DataFrame(), how = 'left')
            feat[series] = df.loc[(df['Region Code'] == code) & (df['Year'] == year)]['Value']
        
        
feat.head()

,Region Code,Region,Year,Series,Value
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"678,990"
1,1,"Total, all countries or areas",2005,Gross enrollement ratio - Primary (male),104.8
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.8
3,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,100"
4,1,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.7

2     77.4
8     76.2
14    75.5
20    75.0
Name: Value, dtype: object

ValueError: cannot reindex from a duplicate axis

# Variables:

'Gross enrollment ratio - Tertiary (male)'
'Gross enrollment ratio - Tertiary (female)', 
'Labour force participation - Male' 'Unemployment rate - Male',
'Labour force participation - Female' 'Unemployment rate - Female',
'Expenditure by level of education: tertiary (as % of government expenditure)',
'Population mid-year estimates for males (millions)',
'Population mid-year estimates for females (millions)',
'All staff compensation as % of total expenditure in public institutions (%)',
'Capital expenditure as % of total expenditure in public institutions (%)',
'All staff compensation as % of total expenditure in public institutions (%)'

In [4]:
#Filter for select measurements
df2010sr = df2010.loc[df2010['Series'].isin(Select_Ser)]

#Reset index to avoid confusion
#df2010sr.drop(edu.index[0], inplace = True)
#df2010sr.index = range(len(edu))

#Operations:
print('Selected Measurements:\n', Select_Ser)
print('DataFrame Columns:\n',df2010sr.columns)
print('Series:\n', df2010sr['Series'].unique())

dsp(feat.head())

#Create Feature Dataframe
#feat = pd.get_dummies(df2010sr['Region'])
#dsp(feat.head())

#Add Measures to feat dataframe:
#for entry in Select_Ser:
    #feat = pd.concat([feat, df2010sr.loc[df2010sr['Series'] == entry]], axis = 1, join_axes = ['Region Code'], join = 'inner')
    #feat[str(entry)] =

NameError: name 'df2010' is not defined

In [5]:
#Total, all countries
tot_edu = edu.loc[(edu['Region Code'] == '1'), 
                  ['Year', 'Series', 'Value']]
tot_edu.rename(index = str, columns = {'Series':'Education Demographic','Value':'Edu Measure'}, inplace = True)


tot_labor = labor.loc[(labor['Region Code'] == '1'),
                     ['Year', 'Series', 'Value']]
tot_labor.rename(index = str, columns = {'Series':'Labor Demographic','Value':'Lab Measure'}, inplace = True)


tot_pop = pop.loc[pop['Region Code'] == '1',
                 ['Year','Series', 'Value']]
tot_edu.rename(index = str, columns = {'Series':'Population Demographic','Value':'Pop Measure'}, inplace = True)

#print(tot_pop['Year'].unique())
#print(tot_edu['Year'].unique())
#print(tot_labor['Year'].unique())

#step = pd.merge(tot_labor, tot_pop, on = 'Year', how = 'inner')
#totals = pd.merge(step, tot_edu, on = 'Year', how = 'inner')

#Reset index